
.container{
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center ;
    margin-top: 15rem;
    min-height:150vh;}
.detail_container{
   border: 2px solid black;
    border-radius: 10px;}



 
.text{
     font-size: 0.7rem;
    font-family: cursive;
     text-indent: 1rem; 
   /* direction:ltr;
    margin:3px; */

}


.contenedorBoton{
color:black;
 
}
.botonVolver{

    padding: 15px;
    font-size:medium;
    font-family: 'Courier New', Courier, monospace;
     border-radius: 15px;

 
}

.botonVolver:hover{
  /*   background-color: goldenrod;
    color: black;
    border: 1px solid black; */
    transform:  translate(10% ,10%);
 
     
}