.error-message{
    color: black;
}


.containerPrincipal{
    height: 150vh;
    margin-top:3rem;
    
}
.containerForm{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid  #dc1e7c;
    border-radius: 10px;
    margin-top:5rem;
    max-width: 500px;
    max-height: 1200px;
    padding: 1rem;
    margin-left: 14rem;
    margin-bottom: 2rem;
   
 
}

.containerBoton{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   /*  margin-left: 50rem; */
}